/*body {
}
@media(min-width:1024px){
    h3 {
        font-size: 1.7vw !important;      
    }
}
@media(min-width:740px)and (max-width:1024px) {
    h3 {
        font-size: 1.8vw !important;
        color:red;
    }
    p{
        font-size:1.5vw !important;
    }
}
@media(max-width:740px) {
    h3 {
        font-size: 2.8vw !important;
    }
}*/
