@{
    ViewBag.Title = "SOLAR SCADA SYSTEM - NAGAE";
    ViewBag.ButtonHome = "";
    ViewBag.ButtonOverview = "";
    ViewBag.ButtonAlarm = "";
    ViewBag.ButtonEvent = "";
    ViewBag.ButtonReport = "";
    ViewBag.ButtonProject = "active";
    ViewBag.MenuOpenProject = "menu-open";
    ViewBag.DisplayProject = "block";

    ViewBag.ButtonProject1 = "";
    ViewBag.MenuOpenProject1 = "";
    ViewBag.DisplayProject1 = "none";
    ViewBag.ButtonProject1Infor = "";
    ViewBag.ButtonProject1Event = "";
    ViewBag.ButtonProject1Alarm = "";
    ViewBag.ButtonProject1Weather = "";
    ViewBag.ButtonSignage1 = "";

    ViewBag.ButtonProject2 = "";
    ViewBag.MenuOpenProject2 = "";
    ViewBag.DisplayProject2 = "none"; // block/none
    ViewBag.ButtonProject2Infor = "";
    ViewBag.ButtonProject2Event = "";
    ViewBag.ButtonProject2Alarm = "";
    ViewBag.ButtonProject2Weather = "";
    ViewBag.ButtonSignage2 = "";

    ViewBag.ButtonProject3 = "";
    ViewBag.MenuOpenProject3 = "";
    ViewBag.DisplayProject3 = "none"; // block/none
    ViewBag.ButtonProject3Infor = "";
    ViewBag.ButtonProject3Event = "";
    ViewBag.ButtonProject3Alarm = "";
    ViewBag.ButtonProject3Weather = "";
    ViewBag.ButtonSignage3 = "";

    ViewBag.ButtonProject4 = "";
    ViewBag.MenuOpenProject4 = "";
    ViewBag.DisplayProject4 = "none"; // block/none
    ViewBag.ButtonProject4Infor = "";
    ViewBag.ButtonProject4Event = "";
    ViewBag.ButtonProject4Alarm = "";
    ViewBag.ButtonProject4Weather = "";
    ViewBag.ButtonSignage4 = "";

    ViewBag.ButtonProject5 = "active";
    ViewBag.MenuOpenProject5 = "menu-open";
    ViewBag.DisplayProject5 = "block";
    ViewBag.ButtonProject5Infor = "active";
    ViewBag.ButtonProject5Event = "";
    ViewBag.ButtonProject5Alarm = "";
    ViewBag.ButtonProject5Weather = "";
    ViewBag.ButtonSignage5 = "";

    ViewBag.ButtonProject6 = "";
    ViewBag.MenuOpenProject6 = "";
    ViewBag.DisplayProject6 = "none"; // block/none
    ViewBag.ButtonProject6Infor = "";
    ViewBag.ButtonProject6Event = "";
    ViewBag.ButtonProject6Alarm = "";
    ViewBag.ButtonProject6Weather = "";
    ViewBag.ButtonSignage6 = "";

    ViewBag.ButtonProject7 = "";
    ViewBag.MenuOpenProject7 = "";
    ViewBag.DisplayProject7 = "none"; // block/none
    ViewBag.ButtonProject7Infor = "";
    ViewBag.ButtonProject7Event = "";
    ViewBag.ButtonProject7Alarm = "";
    ViewBag.ButtonProject7Weather = "";
    ViewBag.ButtonSignage7 = "";

    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>



<body onload="LoadProject('project5')" id="load">
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-12 col-12">
                    <!-- small box -->
                    <div class="small-box1 bg-info3">
                        <p class="small-box-footer" style="text-align:center;color:white">
                            Project Information
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info3">
                        <div class=inner>
                            <h3>
                                <text id="DailyEnergy" style="color: #2d8cf0">-</text>
                                <sup style="top: 0px;  color: #2d8cf0">kWh</sup>
                            </h3>
                            <p>Daily Energy</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-solar-panel" style="color: #2d8cf0; font-size: 2.5vw"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info3">
                        <div class="inner">
                            <h3>
                                <text id="MonthlyEnergy" style="color: #2d8cf0">-</text>
                                <sup style="top: 0px;  color: #2d8cf0">kWh</sup>
                            </h3>

                            <p>Monthly Energy</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-solar-panel" style="color: #2d8cf0; font-size: 2.5vw"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info3">
                        <div class="inner">
                            <h3>
                                <text id="YearlyEnergy" style="color: #2d8cf0">-</text>
                                <sup style="top: 0px;  color: #2d8cf0">kWh</sup>
                            </h3>
                            <p>Yearly Energy</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-solar-panel" style="color: #2d8cf0; font-size: 2.5vw"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info3">
                        <div class="inner">
                            <h3>
                                <text id="TotalEnergy" style="color: #2d8cf0">-</text>
                                <sup style="top: 0px;  color: #2d8cf0">kWh</sup>
                            </h3>
                            <p>Total Energy</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-solar-panel" style="color: #2d8cf0; font-size: 2.5vw"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info3">
                        <div class="inner">
                            <h3>
                                <text id="PurchaseEnergy" style="color: #2d8cf0">-</text>
                                <sup style="top: 0px;  color: #2d8cf0">kW</sup>
                            </h3>
                            <p>Purchased Power</p>
                        </div>
                        <div class="icon">
                            <img src="https://img.icons8.com/ios-filled/50/2d8cf0/telephone-pole.png" alt="telephone-pole" style="float: right; margin-top: -85px; margin-right: 20px">
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info3">
                        <div class="inner">
                            <h3>
                                <text id="ExcessEnergy" style="color: #2d8cf0">-</text>
                                <sup style="top: 0px;  color: #2d8cf0">kW</sup>
                            </h3>

                            <p>Excess Power</p>
                        </div>
                        <div class="icon">
                            <img src="https://img.icons8.com/ios-filled/50/2d8cf0/telephone-pole.png" alt="telephone-pole" style="float: right; margin-top: -85px; margin-right: 20px">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info3">
                        <div class=inner>
                            <h3>
                                <text id="ActivePower" style="color: #2d8cf0; ">-</text>
                                <sup style="top: 0px;  color: #2d8cf0">kW</sup>
                            </h3>

                            <p>Active Power</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-solar-panel" style="color: #2d8cf0; font-size: 2.5vw"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info3">
                        <div class="inner">
                            <h3>
                                <text id="ReactivePower" style="color: #2d8cf0">-</text>
                                <sup style="top: 0px; color: #2d8cf0">kVAr</sup>
                            </h3>

                            <p>Reactive Power</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-stream" style="color: #2d8cf0; font-size: 2.5vw"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info3">
                        <div class=inner>
                            <h3>
                                <text id="TotalInverterON" style="color: #2d8cf0; ">-</text>
                                <sup style="top: 0px;  color: #2d8cf0">/4</sup>
                            </h3>

                            <p>Total Inverter<br>RUNNING</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-play-circle" style="color: #2d8cf0; font-size: 2.5vw "></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info3">
                        <div class="inner">
                            <h3>
                                <text id="TotalInverterOFF" style="color: #2d8cf0">-</text>
                                <sup style="top: 0px; color: #2d8cf0">/4</sup>
                            </h3>

                            <p>Total Inverter<br>STOP</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-stop-circle" style="color: #2d8cf0; font-size: 2.5vw "></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info3">
                        <div class="inner">
                            <h3>
                                <text id="TotalInverterFault" style="color: #2d8cf0">-</text>
                                <sup style="top: 0px;  color: #2d8cf0">/4</sup>
                            </h3>
                            <p>Total Inverter<br>FAULT</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-bell" style="color: #2d8cf0; font-size: 2.5vw "></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info3">
                        <div class="inner">
                            <h3>
                                <text id="TotalInverterStandby" style="color: #2d8cf0">-</text>
                                <sup style="top: 0px;  color: #2d8cf0">/4</sup>
                            </h3>

                            <p>Total Inverter<br>STANDBY</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-table" style="color: #2d8cf0; font-size: 2.5vw "></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-12 col-12">
                    <!-- small box -->
                    <div class="small-box1 bg-info3">
                        <p class="small-box-footer" style="text-align:center;color:white">
                            Inverter Information
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info3">
                        <div class="inner">
                            <h3>
                                <text id="INV1OutputActivePower" style="color: #2d8cf0">-</text>
                                <sup style="top: 0px; color: #2d8cf0">kW</sup>
                            </h3>
                            <p>Inverter1 Active Power</p>
                        </div>
                        <a href="~/Project5/Inverter1" class="small-box-footer">Inverter1 More info <i class="fas fa-arrow-circle-right" style="color: #2d8cf0"></i></a>
                        <div class="icon">
                            <i class="fas fa-bolt" style="color: #2d8cf0; font-size: 2.5vw"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info3">
                        <div class="inner">
                            <h3>
                                <text id="INV2OutputActivePower" style="color: #2d8cf0">-</text>
                                <sup style="top: 0px; color: #2d8cf0">kW</sup>
                            </h3>
                            <p>Inverter2 Active Power</p>
                        </div>
                        <a href="~/Project5/Inverter2" class="small-box-footer">Inverter2 More info <i class="fas fa-arrow-circle-right" style="color: #2d8cf0"></i></a>
                        <div class="icon">
                            <i class="fas fa-bolt" style="color: #2d8cf0; font-size: 2.5vw"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info3">
                        <div class="inner">
                            <h3>
                                <text id="INV3OutputActivePower" style="color: #2d8cf0">-</text>
                                <sup style="top: 0px; color: #2d8cf0">kW</sup>
                            </h3>

                            <p>Inverter3 Active Power</p>
                        </div>
                        <a href="~/Project5/Inverter3" class="small-box-footer">Inverter3 More info <i class="fas fa-arrow-circle-right" style="color: #2d8cf0"></i></a>
                        <div class="icon">
                            <i class="fas fa-bolt" style="color: #2d8cf0; font-size: 2.5vw"></i>
                        </div>

                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info3">
                        <div class="inner">
                            <h3>
                                <text id="INV4OutputActivePower" style="color: #2d8cf0">-</text>
                                <sup style="top: 0px; color: #2d8cf0">kW</sup>
                            </h3>

                            <p>Inverter4 Active Power</p>
                        </div>
                        <a href="~/Project5/Inverter4" class="small-box-footer">Inverter4 More info <i class="fas fa-arrow-circle-right" style="color: #2d8cf0"></i></a>
                        <div class="icon">
                            <i class="fas fa-bolt" style="color: #2d8cf0; font-size: 2.5vw"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ./col -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <!-- ENERGY CHART -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <div id="time">
                                <input onchange="Submit('project5')" type="date" id="selectimeEnergy" value="2022-08-21" style="width:150px">
                                <button onclick="day('project5')" id="day" class="buttonChart"> Day</button>
                                <button onclick="month('project5')" id="month" class="buttonChart"> Month</button>
                                <button onclick="year('project5')" id="year" class="buttonChart"> Year</button>
                                <button onclick="ExportEnergyProject('Project5')" id="ExportExcelColumn" class="buttonChart" style="width:100px"> Report Excel</button>
                                <button onclick="ExportCSVEnergyProject('Project5')" id="ExportCSVColumn" class="buttonChart" style="width:100px"> Report CSV</button>
                            </div>

                        </div>
                        <div class="card-body">
                            <div class="chart">
                                <div>
                                    <figure class="highcharts-figure">
                                        <div id="container" style="min-height: 250px; height: 400px; max-height: 400px; max-width: 100%"></div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- POWER CHART -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <input onchange="SubmitPower('project5')" type="date" id="selecttimePower" value="2022-08-21" style="width:150px">
                            <button onclick="ExportPowerProject('project5')" id="ExportExcelLine" class="buttonChart" style="width:100px"> Report Excel</button>
                            <button onclick="ExportCSVPowerProject('project5')" id="ExportCSVLine" class="buttonChart" style="width:100px"> Report CSV</button>
                        </div>
                        <div class="card-body">
                            <div class="chart">
                                <div>
                                    <figure class="highcharts-figure">
                                        <div id="container_line" style="min-height: 250px; height: 400px; max-height: 400px; max-width: 100%"></div>
                                    </figure>
                                </div>
                                <div id="time" style="position:absolute;left:400px;top:0px">
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h5 style="margin-right: 20px">Common Report</h5>
                    <text style="font-size: 16px;">From</text>
                    <input style="margin: 0 5px;" type="date" id="TimeCommonStart" value="2022-08-22">
                    <text style="font-size: 16px;">To</text>
                    <input style="margin: 0 5px;" type="date" id="TimeCommonEnd" value="2022-08-22">
                    <button onclick="ExportExcelCommon('project5')" id="ExcelCommon" class="buttonChart" style="width: 100px;">Report Excel</button>
                    <button onclick="ExportCSVCommon('project5')" id="CSVCommon" class="buttonChart" style="width: 100px;">Report CSV</button>

                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 style="margin-right: 20px">Electrical Parameter Report</h5>
                    <input style="margin: 0 5px;" type="date" id="TimeElectrical" value="2022-08-22">
                    <button onclick="ExportExcelElectrical('project5')" id="Excel" style="width: 100px;" class="buttonChart">Report Excel</button>
                    <button onclick="ExportCSVElectrical('project5')" id="CSV" style="width: 100px;" class="buttonChart">Report CSV</button>

                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 style="margin-right: 20px">CO2 Reduction Report</h5>
                    <input style="margin: 0 5px; width: 110px;" type="date" id="TimeCO2" value="2022-08-22">
                    <button onclick="CO2day('project5')" id="CO2day" class="buttonChart">Day</button>
                    <button onclick="CO2month('project5')" id="CO2month" class="buttonChart">Month</button>
                    <button onclick="CO2year('project5')" id="CO2year" class="buttonChart">Year</button>
                    <button onclick="ExportExcelCO2('project5')" id="ExcelCO2" style="width: 100px;" class="buttonChart">Report Excel</button>
                    <button onclick="ExportCSVCO2('project5')" id="CSVCO2" style="width: 100px;" class="buttonChart">Report CSV</button>

                </div>
            </div>
        </div>
    </section>
</body>


<atscada-task at-interval="1000"></atscada-task>
<script type="module" src="~/JavaScript/Core/Component/Task/atscada-task-element.js"></script>
<script src="~/JavaScript/RealTime/Project5Realtime.js"></script>
<script src="~/JavaScript/Common/Project.js"></script>
<link href="~/Css/project.css" rel="stylesheet" />