
@model LongDucProject.Controllers.UserParam

@{
    ViewBag.Title = "SOLAR SCADA SYSTEM - NAGAE";
    ViewBag.ButtonHome = "";
    ViewBag.ButtonOverview = "";
    ViewBag.ButtonAlarm = "";
    ViewBag.ButtonEvent = "";
    ViewBag.ButtonReport = "";
    ViewBag.ButtonProject = "active";
    ViewBag.MenuOpenProject = "menu-open";
    ViewBag.DisplayProject = "block";

    ViewBag.ButtonProject1 = "";
    ViewBag.MenuOpenProject1 = "";
    ViewBag.DisplayProject1 = "none";
    ViewBag.ButtonProject1Infor = "";
    ViewBag.ButtonProject1Event = "";
    ViewBag.ButtonProject1Alarm = "";
    ViewBag.ButtonProject1Weather = "";
    ViewBag.ButtonSignage1 = "";

    //-------------------

    ViewBag.ButtonProject2 = "";
    ViewBag.MenuOpenProject2 = "";
    ViewBag.DisplayProject2 = "none";
    ViewBag.ButtonProject2Infor = "";
    ViewBag.ButtonProject2Event = "";
    ViewBag.ButtonProject2Alarm = "";
    ViewBag.ButtonProject2Weather = "";
    ViewBag.ButtonSignage2 = "";

    ViewBag.ButtonProject3 = "";
    ViewBag.MenuOpenProject3 = "";
    ViewBag.DisplayProject3 = "none"; // block/none
    ViewBag.ButtonProject3Infor = "";
    ViewBag.ButtonProject3Event = "";
    ViewBag.ButtonProject3Alarm = "";
    ViewBag.ButtonProject3Weather = "";
    ViewBag.ButtonSignage3 = "";

    ViewBag.ButtonProject4 = "";
    ViewBag.MenuOpenProject4 = "";
    ViewBag.DisplayProject4 = "none"; // block/none
    ViewBag.ButtonProject4Infor = "";
    ViewBag.ButtonProject4Event = "";
    ViewBag.ButtonProject4Alarm = "";
    ViewBag.ButtonProject4Weather = "";
    ViewBag.ButtonSignage4 = "";

    ViewBag.ButtonProject5 = "active";
    ViewBag.MenuOpenProject5 = "menu-open";
    ViewBag.DisplayProject5 = "block";
    ViewBag.ButtonProject5Infor = "";
    ViewBag.ButtonProject5Event = "";
    ViewBag.ButtonProject5Alarm = "";
    ViewBag.ButtonProject5Weather = "";
    ViewBag.ButtonProject5Signage = "";
    ViewBag.ButtonProject5UserSetting = "active"; // Them moi button trong _Project1Layout

    ViewBag.ButtonProject6 = "";
    ViewBag.MenuOpenProject6 = "";
    ViewBag.DisplayProject6 = "none"; // block/none
    ViewBag.ButtonProject6Infor = "";
    ViewBag.ButtonProject6Event = "";
    ViewBag.ButtonProject6Alarm = "";
    ViewBag.ButtonProject6Weather = "";
    ViewBag.ButtonSignage6 = "";

    ViewBag.ButtonProject7 = "";
    ViewBag.MenuOpenProject7 = "";
    ViewBag.DisplayProject7 = "none"; // block/none
    ViewBag.ButtonProject7Infor = "";
    ViewBag.ButtonProject7Event = "";
    ViewBag.ButtonProject7Alarm = "";
    ViewBag.ButtonProject7Weather = "";
    ViewBag.ButtonSignage7 = "";

}

<style>

    .login-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80vh;
        max-width: 500px;
        Optional, adjust this value based on your design
    }
</style>

<body>
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center" style="background-color:dodgerblue">
                <a class="h1" style="color:white"><b>Password Setting</b></a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Can change password at here</p>
                <div class="login-box-body">


                    <div class="input-group mb-3">
                        <input id="UserName" class="form-control" placeholder="UserName" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input id="OldPassword" type="password" class="form-control" placeholder="OldPassword" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input id="NewPassword" type="password" class="form-control" placeholder="NewPassword" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input id="ConfirmPassword" type="password" class="form-control" placeholder="ConfirmPassword" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <button onclick="changePassword()" class="btn btn-primary btn-block">Change password</button>
                    </div>

                </div>

                <!-- /.social-auth-links -->

                <p class="mb-1">

                </p>
                <p class="mb-0">

                </p>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>

</body>

<script src="~/AdminLTE-master/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/AdminLTE-master/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="~/AdminLTE-master/dist/js/adminlte.min.js"></script>
<script src="~/JavaScript/Common/changePassword.js"></script>
