
@{
    ViewBag.Title = "SOLAR SCADA SYSTEM - SETTSU CARTON - WEATHER STATION";
    ViewBag.ButtonHome = "";
    ViewBag.ButtonOverview = "";
    ViewBag.ButtonAlarm = "";
    ViewBag.ButtonEvent = "";
    ViewBag.ButtonReport = "";
    ViewBag.ButtonProject = "active";
    ViewBag.MenuOpenProject = "menu-open";
    ViewBag.DisplayProject = "block";

    ViewBag.ButtonProject1 = "";
    ViewBag.MenuOpenProject1 = "";
    ViewBag.DisplayProject1 = "none";
    ViewBag.ButtonProject1Infor = "";
    ViewBag.ButtonProject1Event = "";
    ViewBag.ButtonProject1Alarm = "";
    ViewBag.ButtonProject1Weather = "";
    ViewBag.ButtonSignage1 = "";

    ViewBag.ButtonProject2 = "";
    ViewBag.MenuOpenProject2 = "";
    ViewBag.DisplayProject2 = "none"; // block/none
    ViewBag.ButtonProject2Infor = "";
    ViewBag.ButtonProject2Event = "";
    ViewBag.ButtonProject2Alarm = "";
    ViewBag.ButtonProject2Weather = "";
    ViewBag.ButtonSignage2 = "";

    ViewBag.ButtonProject3 = "";
    ViewBag.MenuOpenProject3 = "";
    ViewBag.DisplayProject3 = "none"; // block/none
    ViewBag.ButtonProject3Infor = "";
    ViewBag.ButtonProject3Event = "";
    ViewBag.ButtonProject3Alarm = "";
    ViewBag.ButtonProject3Weather = "";
    ViewBag.ButtonSignage3 = "";

    ViewBag.ButtonProject4 = "";
    ViewBag.MenuOpenProject4 = "";
    ViewBag.DisplayProject4 = "none"; // block/none
    ViewBag.ButtonProject4Infor = "";
    ViewBag.ButtonProject4Event = "";
    ViewBag.ButtonProject4Alarm = "";
    ViewBag.ButtonProject4Weather = "";
    ViewBag.ButtonSignage4 = "";

    ViewBag.ButtonProject5 = "";
    ViewBag.MenuOpenProject5 = "";
    ViewBag.DisplayProject5 = "none"; // block/none
    ViewBag.ButtonProject5Infor = "";
    ViewBag.ButtonProject5Event = "";
    ViewBag.ButtonProject5Alarm = "";
    ViewBag.ButtonProject5Weather = "";
    ViewBag.ButtonSignage5 = "";

    ViewBag.ButtonProject6 = "active";
    ViewBag.MenuOpenProject6 = "menu-open";
    ViewBag.DisplayProject6 = "block";
    ViewBag.ButtonProject6Infor = "";
    ViewBag.ButtonProject6Event = "";
    ViewBag.ButtonProject6Alarm = "";
    ViewBag.ButtonProject6Weather = "active";
    ViewBag.ButtonSignage6 = "";

    ViewBag.ButtonProject7 = "";
    ViewBag.MenuOpenProject7 = "";
    ViewBag.DisplayProject7 = "none"; // block/none
    ViewBag.ButtonProject7Infor = "";
    ViewBag.ButtonProject7Event = "";
    ViewBag.ButtonProject7Alarm = "";
    ViewBag.ButtonProject7Weather = "";
    ViewBag.ButtonSignage7 = "";

    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>


<!-- Main content -->
<body onload="Load('project6')" id="load">
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-12 col-12">
                    <!-- small box -->
                    <div class="small-box1 bg-info3">
                        <p class="small-box-footer" style="text-align:center;color:white">
                            Weather Information
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info3">
                        <div class="inner">
                            <h3>
                                <text id="Irradiance" style="color: #2d8cf0 ">-</text>
                                <sup style="font-size: 30px; top: 0px; color: #2d8cf0">W/m2</sup>
                            </h3>

                            <p> Irradiation</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-sun fa-lg" style="color: #2d8cf0 "></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info3">
                        <div class="inner">
                            <h3>
                                <text id="AmbientAirTemperature" style="color: #2d8cf0 ">-</text>
                                <sup style="font-size: 30px; top: 0px; color: #2d8cf0">℃</sup>
                            </h3>

                            <p>Average Temperature</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-temperature-high" style="color: #2d8cf0 "></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info3">
                        <div class="inner">
                            <h3>
                                <text id="BackOfModuleTemperature2" style="color: #2d8cf0 ">-</text>
                                <sup style="font-size: 30px; top: 0px; color: #2d8cf0">℃</sup>
                            </h3>

                            <p>PV Module Temperature 1</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-temperature-high" style="color: #2d8cf0"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info3">
                        <div class="inner">
                            <h3>
                                <text id="BackOfModuleTemperature1" style="color: #2d8cf0 ">-</text>
                                <sup style="font-size: 30px; top: 0px; color: #2d8cf0">℃</sup>
                            </h3>

                            <p>PV Module Temperature 2</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-temperature-high" style="color: #2d8cf0 "></i>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- /.card -->

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <!-- AMBIENT TEMPERATURE CHART -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <input onchange="SubmitTemp('project6')" type="date" id="selecttimeTemp" value="2022-08-21" style="width:110px">
                            <button onclick="ExportExcelTemp('project6')" id="ExportExcelTemp" class="buttonChart" style="width:100px"> Report Excel</button>
                            <button onclick="ExportCSVTemp('project6')" id="ExportCSVTemp" class="buttonChart" style="width:100px"> Report CSV</button>
                        </div>
                        <div class="card-body">
                            <div class="chart">
                                <div>
                                    <figure class="highcharts-figure">
                                        <div id="container_temp" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%"></div>
                                    </figure>
                                </div>
                                <div id="time" style="position:absolute;left:400px;top:0px">
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- IRRRADIAN CHART -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <input onchange="SubmitIrradian('project6')" type="date" id="selecttimeIrr" value="2022-08-21" style="width:110px">
                            <button onclick="ExportExcelIrradian('project6')" id="ExportExcelIrradian" class="buttonChart" style="width:100px"> Report Excel</button>
                            <button onclick="ExportCSVIrradian('project6')" id="ExportCSVIrradian" class="buttonChart" style="width:100px"> Report CSV</button>
                        </div>
                        <div class="card-body">
                            <div class="chart">
                                <div>
                                    <figure class="highcharts-irradian">
                                        <div id="container_irradian" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%"></div>
                                    </figure>
                                </div>
                                <div id="time" style="position:absolute;left:400px;top:0px">
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- CELL 1 CHART -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <input onchange="SubmitCell1('project6')" type="date" id="selecttimeCell1" value="2022-08-21" style="width:110px">
                            <button onclick="ExportExcelCell1('project6')" id="ExportExcelCell1" class="buttonChart" style="width:100px"> Report Excel</button>
                            <button onclick="ExportCSVCell1('project6')" id="ExportCSVCell1" class="buttonChart" style="width:100px"> Report CSV</button>
                        </div>
                        <div class="card-body">
                            <div class="chart">
                                <div>
                                    <figure class="highcharts-cell1">
                                        <div id="container_cell1" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%"></div>
                                    </figure>
                                </div>
                                <div id="time" style="position:absolute;left:400px;top:0px">
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- CELL 2 CHART -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <input onchange="SubmitCell2('project6')" type="date" id="selecttimeCell2" value="2022-08-21" style="width:110px">
                            <button onclick="ExportExcelCell2('project6')" id="ExportExcelCell2" class="buttonChart" style="width:100px"> Report Excel</button>
                            <button onclick="ExportCSVCell2('project6')" id="ExportCSVCell2" class="buttonChart" style="width:100px"> Report CSV</button>
                        </div>
                        <div class="card-body">
                            <div class="chart">
                                <div>
                                    <figure class="highcharts-cell2">
                                        <div id="container_cell2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%"></div>
                                    </figure>
                                </div>
                                <div id="time" style="position:absolute;left:400px;top:0px">
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<atscada-task at-interval="3000"></atscada-task>
<script type="module" src="~/JavaScript/Core/Component/Task/atscada-task-element.js"></script>
<script src="~/JavaScript/Common/WeatherCommon.js"></script>
<script src="~/JavaScript/RealTime/Project6/Weather6Realtime.js"></script>
