
@{
    ViewBag.Title = "SOLAR SCADA SYSTEM - RENTAL FACTORY 1 - ALARM";

    ViewBag.ButtonHome = "";
    ViewBag.ButtonOverview = "";
    ViewBag.ButtonAlarm = "";
    ViewBag.ButtonEvent = "";
    ViewBag.ButtonReport = "";
    ViewBag.ButtonProject = "active";
    ViewBag.MenuOpenProject = "menu-open";
    ViewBag.DisplayProject = "block";

    ViewBag.ButtonProject1 = "active";
    ViewBag.MenuOpenProject1 = "menu-open";
    ViewBag.DisplayProject1 = "block";
    ViewBag.ButtonProject1Infor = "";
    ViewBag.ButtonProject1Event = "";
    ViewBag.ButtonProject1Alarm = "active";
    ViewBag.ButtonProject1Weather = "";
    ViewBag.ButtonProject1Signage = "";
    ViewBag.ButtonProject1UserSetting = ""; // Them moi button trong _Project1Layout

    //-------------------

    ViewBag.ButtonProject2 = "";
    ViewBag.MenuOpenProject2 = "";
    ViewBag.DisplayProject2 = "none";
    ViewBag.ButtonProject2Infor = "";
    ViewBag.ButtonProject2Event = "";
    ViewBag.ButtonProject2Alarm = "";
    ViewBag.ButtonProject2Weather = "";
    ViewBag.ButtonSignage2 = "";

    ViewBag.ButtonProject3 = "";
    ViewBag.MenuOpenProject3 = "";
    ViewBag.DisplayProject3 = "none"; // block/none
    ViewBag.ButtonProject3Infor = "";
    ViewBag.ButtonProject3Event = "";
    ViewBag.ButtonProject3Alarm = "";
    ViewBag.ButtonProject3Weather = "";
    ViewBag.ButtonSignage3 = "";

    ViewBag.ButtonProject4 = "";
    ViewBag.MenuOpenProject4 = "";
    ViewBag.DisplayProject4 = "none"; // block/none
    ViewBag.ButtonProject4Infor = "";
    ViewBag.ButtonProject4Event = "";
    ViewBag.ButtonProject4Alarm = "";
    ViewBag.ButtonProject4Weather = "";
    ViewBag.ButtonSignage4 = "";

    ViewBag.ButtonProject5 = "";
    ViewBag.MenuOpenProject5 = "";
    ViewBag.DisplayProject5 = "none"; // block/none
    ViewBag.ButtonProject5Infor = "";
    ViewBag.ButtonProject5Event = "";
    ViewBag.ButtonProject5Alarm = "";
    ViewBag.ButtonProject5Weather = "";
    ViewBag.ButtonSignage5 = "";

    ViewBag.ButtonProject6 = "";
    ViewBag.MenuOpenProject6 = "";
    ViewBag.DisplayProject6 = "none"; // block/none
    ViewBag.ButtonProject6Infor = "";
    ViewBag.ButtonProject6Event = "";
    ViewBag.ButtonProject6Alarm = "";
    ViewBag.ButtonProject6Weather = "";
    ViewBag.ButtonSignage6 = "";

    ViewBag.ButtonProject7 = "";
    ViewBag.MenuOpenProject7 = "";
    ViewBag.DisplayProject7 = "none"; // block/none
    ViewBag.ButtonProject7Infor = "";
    ViewBag.ButtonProject7Event = "";
    ViewBag.ButtonProject7Alarm = "";
    ViewBag.ButtonProject7Weather = "";
    ViewBag.ButtonSignage7 = "";

    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<body onload="Load('Project1')">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="header">
                    <text>From  </text>
                    <input type="date" name="starttime" value="2022-05-22" style="margin-left:0.5vw">
                    <text>  To </text>
                    <input type="date" name="endtime" value="2022-08-31" style="margin-left:0.5vw">
                    <label for="name-filter">Filter by Name:</label>
                    <input type="text" id="namefilter" />
                    <button onclick="Submit('Project1')" value="Sep" class="buttonChart">Submit</button>
                    <button onclick="ExportExcelAlarm('Project1')" id="Excel" style="width:100px" class="buttonChart"> Report Excel</button>
                    <button onclick="ExportCSVAlarm('Project1')" id="Excel" class="buttonChart" style="width:100px"> Report CSV</button>
                    <button onclick="Help()" value="Sep" class="buttonChart" style="width: 200px">Inverter Operation Manual</button>
                </div>

                <div class="table-responsive">
                    <table id="alarmTable" class="table" border="1">
                        <thead>
                            <tr style="background-color: lightblue; border: 1px">
                                <th class="text-center" style="width: 6%; text-align: center; vertical-align: middle">No</th>
                                <th class="text-center" style="width: 12%; text-align: center; vertical-align: middle">OccurrenceTime</th>
                                <th class="text-center" style="width: 12%; text-align: center; vertical-align: middle">RestoreTime</th>
                                <th class="text-center" style="width: 15%; text-align: center; vertical-align: middle">Plant Name</th>
                                <th class="text-center" style="width: 15%; text-align: center; vertical-align: middle">Device</th>
                                <th class="text-center" style="width: 10%; text-align: center; vertical-align: middle">Fault Code</th>
                                <th class="text-center" style="width: 20%; text-align: center; vertical-align: middle">Description</th>
                                <th class="text-center" style="width: 10%; text-align: center; vertical-align: middle">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="~/JavaScript/Common/alarmProject.js"></script>
<link href="~/Css/Alarm.css" rel="stylesheet" />