
@{
    ViewBag.Title = "SOLAR SCADA SYSTEM - ALARM";
    ViewBag.ButtonHome = "";
    ViewBag.ButtonOverview = "";
    ViewBag.ButtonAlarm = "active";
    ViewBag.ButtonEvent = "";
    ViewBag.ButtonReport = "";
    ViewBag.ButtonProject = "";
    ViewBag.MenuOpenProject = "";
    ViewBag.DisplayProject = "none";

    ViewBag.ButtonProject1 = ""; // active
    ViewBag.MenuOpenProject1 = ""; // menu-open
    ViewBag.DisplayProject1 = "none"; // block/none
    ViewBag.ButtonProject1Infor = "";
    ViewBag.ButtonProject1Event = "";
    ViewBag.ButtonProject1Alarm = "";
    ViewBag.ButtonProject1Weather = "";
    ViewBag.ButtonSignage1 = "";

    ViewBag.ButtonProject2 = "";
    ViewBag.MenuOpenProject2 = "";
    ViewBag.DisplayProject2 = "none"; // block/none
    ViewBag.ButtonProject2Infor = "";
    ViewBag.ButtonProject2Event = "";
    ViewBag.ButtonProject2Alarm = "";
    ViewBag.ButtonProject2Weather = "";
    ViewBag.ButtonSignage2 = "";

    ViewBag.ButtonProject3 = "";
    ViewBag.MenuOpenProject3 = "";
    ViewBag.DisplayProject3 = "none"; // block/none
    ViewBag.ButtonProject3Infor = "";
    ViewBag.ButtonProject3Event = "";
    ViewBag.ButtonProject3Alarm = "";
    ViewBag.ButtonProject3Weather = "";
    ViewBag.ButtonSignage3 = "";

    ViewBag.ButtonProject4 = "";
    ViewBag.MenuOpenProject4 = "";
    ViewBag.DisplayProject4 = "none"; // block/none
    ViewBag.ButtonProject4Infor = "";
    ViewBag.ButtonProject4Event = "";
    ViewBag.ButtonProject4Alarm = "";
    ViewBag.ButtonProject4Weather = "";
    ViewBag.ButtonSignage4 = "";

    ViewBag.ButtonProject5 = "";
    ViewBag.MenuOpenProject5 = "";
    ViewBag.DisplayProject5 = "none"; // block/none
    ViewBag.ButtonProject5Infor = "";
    ViewBag.ButtonProject5Event = "";
    ViewBag.ButtonProject5Alarm = "";
    ViewBag.ButtonProject5Weather = "";
    ViewBag.ButtonSignage5 = "";

    ViewBag.ButtonProject6 = "";
    ViewBag.MenuOpenProject6 = "";
    ViewBag.DisplayProject6 = "none"; // block/none
    ViewBag.ButtonProject6Infor = "";
    ViewBag.ButtonProject6Event = "";
    ViewBag.ButtonProject6Alarm = "";
    ViewBag.ButtonProject6Weather = "";
    ViewBag.ButtonSignage6 = "";

    ViewBag.ButtonProject7 = "";
    ViewBag.MenuOpenProject7 = "";
    ViewBag.DisplayProject7 = "none"; // block/none
    ViewBag.ButtonProject7Infor = "";
    ViewBag.ButtonProject7Event = "";
    ViewBag.ButtonProject7Alarm = "";
    ViewBag.ButtonProject7Weather = "";
    ViewBag.ButtonSignage7 = "";

    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<body onload="Load()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div>

                    <text>From  </text>
                    <input type="date" name="starttime" value="2022-05-22" style="margin-left:0.5vw">

                    <text>  To </text>
                    <input type="date" name="endtime" value="2022-08-31" style="margin-left:0.5vw">
                    <button onclick="Submit()" value="Sep" class="buttonChart">Submit</button>
                    <button onclick="ExportExcelAlarm()" id="Excel" class="buttonChart" style="width: 100px"> Report Excel</button>
                    <button onclick="ExportCSVAlarm()" class="buttonChart" style="width: 100px"> Report CSV</button>
                </div>

                <div class="table-responsive" style="font-size:1vw">
                    <table id="alarmTable" class="table" border="1">
                        <thead>
                            <tr style="background-color: lightblue">
                                <th class="text-center" style="width: 6%; text-align: center; vertical-align: middle">No</th>
                                <th class="text-center" style="width: 12%; text-align: center; vertical-align: middle">OccurrenceTime</th>
                                <th class="text-center" style="width: 12%; text-align: center; vertical-align: middle">RestoreTime</th>
                                <th class="text-center" style="width: 15%; text-align: center; vertical-align: middle">Plant Name</th>
                                <th class="text-center" style="width: 15%; text-align: center; vertical-align: middle">Device</th>
                                <th class="text-center" style="width: 10%; text-align: center; vertical-align: middle">Fault Code</th>
                                <th class="text-center" style="width: 20%; text-align: center; vertical-align: middle">Description</th>
                                <th class="text-center" style="width: 10%; text-align: center; vertical-align: middle">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="~/JavaScript/Common/alarm.js"></script>
@*<script src="~/JavaScript/Common/Count.js"></script>*@
<link href="~/Css/Alarm.css" rel="stylesheet" />