
@model LongDucProject.Controllers.LoginParam


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SOL Solar SCADA</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE-master/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/AdminLTE-master/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE-master/dist/css/adminlte.min.css">

    @*<style>
        body {
            background-image: url('../../Image/Login_new.jpg');
        }
    </style>*@

    <style>
        body {
            background-image: url('../../Image/Login_new.jpg');
            background-size: cover; /* Đảm bảo ảnh phủ toàn bộ màn hình */
            background-position: center; /* Căn giữa ảnh nền */
            background-repeat: no-repeat; /* Không lặp lại ảnh nền */
        }
    </style>

</head>
<body @*onload="getData()"*@ class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center" style="background-color:dodgerblue">
                <a class="h1" style="color:white"><b>SOLAR SCADA</b></a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Sign in to start your session</p>
                <div class="login-box-body">
                    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        if (ViewData.ModelState.Values.Where(v => v.Errors.Count > 0).Count() > 0)
                        {
                            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
                        }
                        <div class="input-group mb-3">
                            @Html.TextBoxFor(m => m.UserName, "", new { @class = "form-control", @placeholder = "UserName" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                    }
                </div>

                <!-- /.social-auth-links -->

                <p class="mb-1">

                </p>
                <p class="mb-0">

                </p>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/AdminLTE-master/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminLTE-master/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE-master/dist/js/adminlte.min.js"></script>

    <script src="~/JavaScript/Common/login.js"></script>


</body>
</html>
