@{
    ViewBag.Title = "SOLAR SCADA SYSTEM - OVERVIEW";

    ViewBag.ButtonHome = "";
    ViewBag.ButtonOverview = "active";
    ViewBag.ButtonOverviewSignage = "";
    ViewBag.ButtonAlarm = "";
    ViewBag.ButtonEvent = "";
    ViewBag.ButtonReport = "";
    ViewBag.ButtonProject = "";
    ViewBag.MenuOpenProject = "";
    ViewBag.DisplayProject = "none";

    ViewBag.ButtonProject1 = "";
    ViewBag.MenuOpenProject1 = "";
    ViewBag.DisplayProject1 = "none";
    ViewBag.ButtonProject1Infor = "";
    ViewBag.ButtonProject1Event = "";
    ViewBag.ButtonProject1Alarm = "";
    ViewBag.ButtonProject1Weather = "";
    ViewBag.ButtonSignage1 = "";

    ViewBag.ButtonProject2 = "";
    ViewBag.MenuOpenProject2 = "";
    ViewBag.DisplayProject2 = "none";
    ViewBag.ButtonProject2Infor = "";
    ViewBag.ButtonProject2Event = "";
    ViewBag.ButtonProject2Alarm = "";
    ViewBag.ButtonProject2Weather = "";
    ViewBag.ButtonSignage2 = "";

    ViewBag.ButtonProject3 = "";
    ViewBag.MenuOpenProject3 = "";
    ViewBag.DisplayProject3 = "none";
    ViewBag.ButtonProject3Infor = "";
    ViewBag.ButtonProject3Event = "";
    ViewBag.ButtonProject3Alarm = "";
    ViewBag.ButtonProject3Weather = "";
    ViewBag.ButtonSignage3 = "";

    ViewBag.ButtonProject4 = "";
    ViewBag.MenuOpenProject4 = "";
    ViewBag.DisplayProject4 = "none";
    ViewBag.ButtonProject4Infor = "";
    ViewBag.ButtonProject4Event = "";
    ViewBag.ButtonProject4Alarm = "";
    ViewBag.ButtonProject4Weather = "";
    ViewBag.ButtonSignage4 = "";

    ViewBag.ButtonProject5 = "";
    ViewBag.MenuOpenProject5 = "";
    ViewBag.DisplayProject5 = "none";
    ViewBag.ButtonProject5Infor = "";
    ViewBag.ButtonProject5Event = "";
    ViewBag.ButtonProject5Alarm = "";
    ViewBag.ButtonProject5Weather = "";
    ViewBag.ButtonSignage5 = "";

    ViewBag.ButtonProject6 = "";
    ViewBag.MenuOpenProject6 = "";
    ViewBag.DisplayProject6 = "none";
    ViewBag.ButtonProject6Infor = "";
    ViewBag.ButtonProject6Event = "";
    ViewBag.ButtonProject6Alarm = "";
    ViewBag.ButtonProject6Weather = "";
    ViewBag.ButtonSignage6 = "";

    ViewBag.ButtonProject7 = "";
    ViewBag.MenuOpenProject7 = "";
    ViewBag.DisplayProject7 = "none";
    ViewBag.ButtonProject7Infor = "";
    ViewBag.ButtonProject7Event = "";
    ViewBag.ButtonProject7Alarm = "";
    ViewBag.ButtonProject7Weather = "";
    ViewBag.ButtonSignage7 = "";

    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/Css/Overview.css?v=now()")" rel="stylesheet" />
}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>


<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>

@*<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>*@


<!-- Main content -->
<body onload="Load()" id="load">
    <section class="content overview-dashboard">
        <div class="container-fluid">
            <div class="row stats-row">
                <div class="col-md-2">
                    <div class="stat-card">
                        <span class="stat-label">QUY TRÌNH</span>
                        <div class="stat-main">
                            <i class="fas fa-project-diagram text-cyan"></i>
                            <span class="stat-value" id="ProcessValue">1</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="stat-card">
                        <span class="stat-label">CÔNG ĐOẠN MÁY</span>
                        <div class="stat-main">
                            <i class="fas fa-project-diagram text-cyan"></i>
                            <span class="stat-value" id="MachineProcessing">2</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="stat-card">
                        <span class="stat-label">NHIỆT ĐỘ MÁY TRỘN</span>
                        <div class="stat-main">
                            <i class="fas fa-thermometer-half text-cyan"></i>
                            <span class="stat-value" id="MixerTemp">40.5</span>
                            <span class="stat-unit">°C</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="stat-card">
                        <span class="stat-label">NHIỆT ĐỘ MÔI TRƯỜNG</span>
                        <div class="stat-main">
                            <i class="fas fa-thermometer-half text-cyan"></i>
                            <span class="stat-value" id="AmbientTemp">35.5</span>
                            <span class="stat-unit">°C</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="stat-card">
                        <span class="stat-label">NHIỆT ĐỘ GIỮA BUỒNG TRỘN</span>
                        <div class="stat-main">
                            <i class="fas fa-tint text-cyan"></i>
                            <span class="stat-value" id="TempChamber">40.5</span>
                            <span class="stat-unit">°C</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="stat-card">
                        <span class="stat-label">ĐỘ ẨM MÔI TRƯỜNG</span>
                        <div class="stat-main">
                            <i class="fas fa-tachometer-alt text-warning"></i>
                            <span class="stat-value" id="Humidity">75.5</span>
                            <span class="stat-unit">%</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="stat-card">
                        <span class="stat-label">ÁP SUẤT KHÍ</span>
                        <div class="stat-main">
                            <i class="fas fa-tachometer-alt text-primary"></i>
                            <span class="stat-value" id="Pressure">10.1</span>
                            <span class="stat-unit">Bar</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="stat-card">
                        <span class="stat-label">THỜI GIAN CẤP LIỆU</span>
                        <div class="stat-main">
                            <i class="fas fa-regular fa-clock text-success"></i>
                            <span class="stat-value" id="FeedingTime">35</span>
                            <span class="stat-unit text-success">s</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="stat-card">
                        <span class="stat-label">THỜI GIAN TRỘN 1</span>
                        <div class="stat-main">
                            <i class="fas fa-regular fa-clock text-success"></i>
                            <span class="stat-value" id="MixTime1">35</span>
                            <span class="stat-unit text-success">s</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="stat-card">
                        <span class="stat-label">THỜI GIAN XẢ ĐÁY</span>
                        <div class="stat-main">
                            <i class="fas fa-regular fa-clock text-success"></i>
                            <span class="stat-value" id="BottomDischargeTime">35</span>
                            <span class="stat-unit text-success">s</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="stat-card">
                        <span class="stat-label">THỜI GIAN HÚT XẢ</span>
                        <div class="stat-main">
                            <i class="fas fa-regular fa-clock text-success"></i>
                            <span class="stat-value" id="SuctionDischargeTime">35</span>
                            <span class="stat-unit text-success">s</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="stat-card">
                        <span class="stat-label">THỜI GIAN TRỘN 2</span>
                        <div class="stat-main">
                            <i class="fas fa-regular fa-clock text-success"></i>
                            <span class="stat-value" id="MixTime2">35</span>
                            <span class="stat-unit text-success">s</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row main-dashboard-grid">
                <div class="col-md-8">
                    <div class="dashboard-box main-chart-box">
                        <div class="box-header">
                            <span class="box-title">THÔNG SỐ QUAN TRỌNG</span>
                        </div>

                        <div class="gauge-container">
                            <div id="container-speed" class="gauge-item"></div>
                            <div id="container-temp" class="gauge-item"></div>
                            <div id="container-pressure" class="gauge-item"></div>
                        </div>

                        <div class="main-line-chart">
                            <div id="container_line" style="height: 350px;"></div>
                        </div>

                        <div class="chart-footer">
                            <button class="btn-scada btn-excel"><i class="fas fa-file-excel"></i> Export Excel</button>
                            <button class="btn-scada btn-csv"><i class="fas fa-file-csv"></i> Export CSV</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="dashboard-box side-box">
                        <div class="box-header">
                            <span class="box-title">ALARM / CẢNH BÁO</span>
                            <a href="#" class="view-all">Xem tất cả →</a>
                        </div>
                        <div class="list-container" id="alarm-list">
                            <div class="list-item">
                                <i class="fas fa-exclamation-triangle text-warning"></i>
                                <span class="item-time">10:46:21</span>
                                <span class="item-text">Máy nhiệt độ cao</span>
                                <span class="badge badge-warning-outline">WARNING</span>
                            </div>
                            <div class="list-item">
                                <i class="fas fa-exclamation-triangle text-warning"></i>
                                <span class="item-time">10:46:21</span>
                                <span class="item-text">Máy nhiệt độ cao</span>
                                <span class="badge badge-warning-outline">WARNING</span>
                            </div>
                        </div>
                    </div>

                    <div class="dashboard-box side-box mt-3">
                        <div class="box-header">
                            <span class="box-title">EVENT / SỰ KIỆN GẦN NHẤT</span>
                            <a href="#" class="view-all">Xem tất cả →</a>
                        </div>
                        <div class="list-container" id="event-list">
                            <div class="list-item">
                                <div class="status-dot-green"></div>
                                <span class="item-time">10:46:33</span>
                                <span class="item-text">Máy ở công đoạn 1</span>
                                <span class="badge badge-success-outline">RUN</span>
                            </div>
                            <div class="list-item">
                                <div class="status-dot-green"></div>
                                <span class="item-time">10:46:33</span>
                                <span class="item-text">Máy ở công đoạn 2</span>
                                <span class="badge badge-success-outline">RUN</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<atscada-task at-interval="1000"></atscada-task>

<script type="module" src="~/JavaScript/Core/Component/Task/atscada-task-element.js"></script>
<script src="~/JavaScript/Common/EnenrgyPowerCommon.js?v=now()"></script>
<script src="~/JavaScript/RealTime/OverviewRealtime.js?v=now()"></script>
