@{
    ViewBag.Title = "SOLAR SCADA SYSTEM - OVERVIEW";

    ViewBag.ButtonHome = "active";
    ViewBag.ButtonOverview = "";
    ViewBag.ButtonOverviewSignage = "";
    ViewBag.ButtonAlarm = "";
    ViewBag.ButtonEvent = "";
    ViewBag.ButtonReport = "";
    ViewBag.ButtonProject = "";
    ViewBag.MenuOpenProject = "";
    ViewBag.DisplayProject = "none";

    ViewBag.ButtonProject1 = "";
    ViewBag.MenuOpenProject1 = "";
    ViewBag.DisplayProject1 = "none";
    ViewBag.ButtonProject1Infor = "";
    ViewBag.ButtonProject1Event = "";
    ViewBag.ButtonProject1Alarm = "";
    ViewBag.ButtonProject1Weather = "";
    ViewBag.ButtonSignage1 = "";

    ViewBag.ButtonProject2 = "";
    ViewBag.MenuOpenProject2 = "";
    ViewBag.DisplayProject2 = "none";
    ViewBag.ButtonProject2Infor = "";
    ViewBag.ButtonProject2Event = "";
    ViewBag.ButtonProject2Alarm = "";
    ViewBag.ButtonProject2Weather = "";
    ViewBag.ButtonSignage2 = "";

    ViewBag.ButtonProject3 = "";
    ViewBag.MenuOpenProject3 = "";
    ViewBag.DisplayProject3 = "none";
    ViewBag.ButtonProject3Infor = "";
    ViewBag.ButtonProject3Event = "";
    ViewBag.ButtonProject3Alarm = "";
    ViewBag.ButtonProject3Weather = "";
    ViewBag.ButtonSignage3 = "";

    ViewBag.ButtonProject4 = "";
    ViewBag.MenuOpenProject4 = "";
    ViewBag.DisplayProject4 = "none";
    ViewBag.ButtonProject4Infor = "";
    ViewBag.ButtonProject4Event = "";
    ViewBag.ButtonProject4Alarm = "";
    ViewBag.ButtonProject4Weather = "";
    ViewBag.ButtonSignage4 = "";

    ViewBag.ButtonProject5 = "";
    ViewBag.MenuOpenProject5 = "";
    ViewBag.DisplayProject5 = "none";
    ViewBag.ButtonProject5Infor = "";
    ViewBag.ButtonProject5Event = "";
    ViewBag.ButtonProject5Alarm = "";
    ViewBag.ButtonProject5Weather = "";
    ViewBag.ButtonSignage5 = "";

    ViewBag.ButtonProject6 = "";
    ViewBag.MenuOpenProject6 = "";
    ViewBag.DisplayProject6 = "none";
    ViewBag.ButtonProject6Infor = "";
    ViewBag.ButtonProject6Event = "";
    ViewBag.ButtonProject6Alarm = "";
    ViewBag.ButtonProject6Weather = "";
    ViewBag.ButtonSignage6 = "";

    ViewBag.ButtonProject7 = "";
    ViewBag.MenuOpenProject7 = "";
    ViewBag.DisplayProject7 = "none";
    ViewBag.ButtonProject7Infor = "";
    ViewBag.ButtonProject7Event = "";
    ViewBag.ButtonProject7Alarm = "";
    ViewBag.ButtonProject7Weather = "";
    ViewBag.ButtonSignage7 = "";

    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/Css/Overview.css" asp-append-version="true" />
}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>


<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>

@*<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>*@


<!-- Main content -->
<body>
    <section class="content overview-dashboard">
        <div class="container-fluid">
            <!-- ROW 1: 6 LARGE CARDS -->
            <div class="row stats-row">
                <!-- Large Card 1: Nhiệt độ môi trường -->
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="stat-card large-card">
                        <div class="card-header">
                            <span class="card-label">Nhiệt độ môi trường</span>
                            <i class="fas fa-thermometer-half card-icon"></i>
                        </div>
                        <div class="card-realtime">
                            <span class="realtime-value" id="AmbientTemp">40.5</span>
                            <span class="realtime-unit">°C</span>
                        </div>
                        <div class="card-meta">
                            <div class="meta-row">
                                <span class="meta-label">Tiêu chuẩn:</span>
                                <span class="meta-value" id="AmbientTempStandard">40°C</span>
                            </div>
                            <div class="meta-row">
                                <span class="meta-label">Min-Max:</span>
                                <span class="meta-value" id="AmbientTempMinMax">32-38°C</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Large Card 2: Độ ẩm môi trường -->
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="stat-card large-card">
                        <div class="card-header">
                            <span class="card-label">Độ ẩm môi trường</span>
                            <i class="fas fa-droplets card-icon"></i>
                        </div>
                        <div class="card-realtime">
                            <span class="realtime-value" id="Humidity">75.5</span>
                            <span class="realtime-unit">%</span>
                        </div>
                        <div class="card-meta">
                            <div class="meta-row">
                                <span class="meta-label">Tiêu chuẩn:</span>
                                <span class="meta-value" id="HumidityStandard">75%</span>
                            </div>
                            <div class="meta-row">
                                <span class="meta-label">Min-Max:</span>
                                <span class="meta-value" id="HumidityMinMax">72-74%</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Large Card 3: Chỉ số bụi -->
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="stat-card large-card">
                        <div class="card-header">
                            <span class="card-label">Chỉ số bụi</span>
                            <i class="fas fa-wind card-icon"></i>
                        </div>
                        <div class="card-realtime">
                            <span class="realtime-value" id="DustIndex">50</span>
                            <span class="realtime-unit">mg/m³</span>
                        </div>
                        <div class="card-meta">
                            <div class="meta-row">
                                <span class="meta-label">Tiêu chuẩn:</span>
                                <span class="meta-value" id="DustIndexStandard">50 mg/m³</span>
                            </div>
                            <div class="meta-row">
                                <span class="meta-label">Min-Max:</span>
                                <span class="meta-value" id="DustIndexMinMax">40-48 mg/m³</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Large Card 4: Nhiệt độ bồn trộn trên -->
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="stat-card large-card">
                        <div class="card-header">
                            <span class="card-label">Nhiệt độ bồn trộn trên</span>
                            <i class="fas fa-cube card-icon"></i>
                        </div>
                        <div class="card-realtime">
                            <span class="realtime-value" id="MixerTopTemp">40</span>
                            <span class="realtime-unit">°C</span>
                        </div>
                        <div class="card-meta">
                            <div class="meta-row">
                                <span class="meta-label">Tiêu chuẩn:</span>
                                <span class="meta-value" id="MixerTopTempStandard">48°C</span>
                            </div>
                            <div class="meta-row">
                                <span class="meta-label">Realtime:</span>
                                <span class="meta-value" id="MixerTopTempReal">38°C</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Large Card 5: Nhiệt độ bồn giữa -->
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="stat-card large-card">
                        <div class="card-header">
                            <span class="card-label">Nhiệt độ bồn trộn giữa</span>
                            <i class="fas fa-cube card-icon"></i>
                        </div>
                        <div class="card-realtime">
                            <span class="realtime-value" id="MixerMidTemp">40</span>
                            <span class="realtime-unit">°C</span>
                        </div>
                        <div class="card-meta">
                            <div class="meta-row">
                                <span class="meta-label">Tiêu chuẩn:</span>
                                <span class="meta-value" id="MixerMidTempStandard">48°C</span>
                            </div>
                            <div class="meta-row">
                                <span class="meta-label">Realtime:</span>
                                <span class="meta-value" id="MixerMidTempReal">39°C</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Large Card 6: Nhiệt độ bồn dưới -->
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="stat-card large-card">
                        <div class="card-header">
                            <span class="card-label">Nhiệt độ bồn trộn dưới</span>
                            <i class="fas fa-cube card-icon"></i>
                        </div>
                        <div class="card-realtime">
                            <span class="realtime-value" id="MixerBottomTemp">40</span>
                            <span class="realtime-unit">°C</span>
                        </div>
                        <div class="card-meta">
                            <div class="meta-row">
                                <span class="meta-label">Tiêu chuẩn:</span>
                                <span class="meta-value" id="MixerBottomTempStandard">48°C</span>
                            </div>
                            <div class="meta-row">
                                <span class="meta-label">Realtime:</span>
                                <span class="meta-value" id="MixerBottomTempReal">39°C</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ROW 2: 7 SMALL CARDS -->
            <div class="row stats-row">
                <!-- Small Card 1: Thời gian cấp liệu -->
                <div class="col-6 col-md-4 col-lg-1-7">
                    <div class="stat-card small-card">
                        <div class="card-header">
                            <span class="card-label">Thời gian cấp liệu</span>
                            <i class="fas fa-hourglass-start card-icon"></i>
                        </div>
                        <div class="card-realtime">
                            <span class="realtime-value" id="FeedingTime">35</span>
                            <span class="realtime-unit">s</span>
                        </div>
                        <div class="card-meta">
                            <div class="meta-row">
                                <span class="meta-label">Tiêu chuẩn:</span>
                                <span class="meta-value" id="FeedingTimeStandard">12m</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Small Card 2: Thời gian trộn 1 -->
                <div class="col-6 col-md-4 col-lg-1-7">
                    <div class="stat-card small-card">
                        <div class="card-header">
                            <span class="card-label">Thời gian trộn 1</span>
                            <i class="fas fa-hourglass-half card-icon"></i>
                        </div>
                        <div class="card-realtime">
                            <span class="realtime-value" id="MixTime1">35</span>
                            <span class="realtime-unit">s</span>
                        </div>
                        <div class="card-meta">
                            <div class="meta-row">
                                <span class="meta-label">Tiêu chuẩn:</span>
                                <span class="meta-value" id="MixTime1Standard">15m</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Small Card 3: Thời gian xả đáy -->
                <div class="col-6 col-md-4 col-lg-1-7">
                    <div class="stat-card small-card">
                        <div class="card-header">
                            <span class="card-label">Thời gian xả đáy</span>
                            <i class="fas fa-hourglass-end card-icon"></i>
                        </div>
                        <div class="card-realtime">
                            <span class="realtime-value" id="BottomDischargeTime">35</span>
                            <span class="realtime-unit">s</span>
                        </div>
                        <div class="card-meta">
                            <div class="meta-row">
                                <span class="meta-label">Tiêu chuẩn:</span>
                                <span class="meta-value" id="BottomDischargeTimeStandard">10m</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Small Card 4: Thời gian hút xả -->
                <div class="col-6 col-md-4 col-lg-1-7">
                    <div class="stat-card small-card">
                        <div class="card-header">
                            <span class="card-label">Thời gian hút xả</span>
                            <i class="fas fa-fan card-icon"></i>
                        </div>
                        <div class="card-realtime">
                            <span class="realtime-value" id="SuctionDischargeTime">35</span>
                            <span class="realtime-unit">s</span>
                        </div>
                        <div class="card-meta">
                            <div class="meta-row">
                                <span class="meta-label">Tiêu chuẩn:</span>
                                <span class="meta-value" id="SuctionDischargeTimeStandard">12m</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Small Card 5: Thời gian trộn 2 -->
                <div class="col-6 col-md-4 col-lg-1-7">
                    <div class="stat-card small-card">
                        <div class="card-header">
                            <span class="card-label">Thời gian trộn 2</span>
                            <i class="fas fa-hourglass-half card-icon"></i>
                        </div>
                        <div class="card-realtime">
                            <span class="realtime-value" id="MixTime2">35</span>
                            <span class="realtime-unit">s</span>
                        </div>
                        <div class="card-meta">
                            <div class="meta-row">
                                <span class="meta-label">Tiêu chuẩn:</span>
                                <span class="meta-value" id="MixTime2Standard">20m</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Small Card 6: Thời gian xả hàng -->
                <div class="col-6 col-md-4 col-lg-1-7">
                    <div class="stat-card small-card">
                        <div class="card-header">
                            <span class="card-label">Thời gian xả hàng</span>
                            <i class="fas fa-hourglass-end card-icon"></i>
                        </div>
                        <div class="card-realtime">
                            <span class="realtime-value" id="DischargeTime">35</span>
                            <span class="realtime-unit">s</span>
                        </div>
                        <div class="card-meta">
                            <div class="meta-row">
                                <span class="meta-label">Tiêu chuẩn:</span>
                                <span class="meta-value" id="DischargeTimeStandard">12m</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Small Card 7: Thời gian rung hàng -->
                <div class="col-6 col-md-4 col-lg-1-7">
                    <div class="stat-card small-card">
                        <div class="card-header">
                            <span class="card-label">Thời gian rung hàng</span>
                            <i class="fas fa-hourglass-end card-icon"></i>
                        </div>
                        <div class="card-realtime">
                            <span class="realtime-value" id="ShakingTime">35</span>
                            <span class="realtime-unit">s</span>
                        </div>
                        <div class="card-meta">
                            <div class="meta-row">
                                <span class="meta-label">Tiêu chuẩn:</span>
                                <span class="meta-value" id="ShakingTimeStandard">12m</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- BATCH STATISTICS TABLE -->
            <div class="batch-stats-section">
                <div class="batch-header-title">
                    <span class="title-accent"></span>
                    <h3>Thống kê mẻ hiện tại</h3>
                </div>

                <table class="batch-table">
                    <thead>
                        <tr>
                            <th class="th-process">Công đoạn</th>
                            <th class="th-standard">TC cài đặt</th>
                            <th class="th-start">T.g bắt đầu</th>
                            <th class="th-end">T.g kết thúc</th>
                            <th class="th-duration">Thời gian</th>
                            <th class="th-temp">NĐ bồn trên</th>
                            <th class="th-temp">NĐ bồn giữa</th>
                            <th class="th-temp">NĐ bồn dưới</th>
                            <th class="th-status">Trạng thái</th>
                            <th class="th-alerts" colspan="3">Cảnh báo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="td-process">Cấp liệu</td>
                            <td class="td-standard">12m</td>
                            <td class="td-start">8:15:00 AM</td>
                            <td class="td-end">8:27:00 AM</td>
                            <td class="td-duration">12m</td>
                            <td class="td-temp">30-32°C</td>
                            <td class="td-temp">30-32°C</td>
                            <td class="td-temp">30-32°C</td>
                            <td class="td-status">
                                <span class="status-badge completed">Hoàn thành</span>
                            </td>
                            <td class="td-alerts" colspan="3">
                                <span class="alert-text">-</span>
                            </td>
                        </tr>

                        <tr>
                            <td class="td-process">Trộn 1</td>
                            <td class="td-standard">15m</td>
                            <td class="td-start">8:27:00 AM</td>
                            <td class="td-end">8:42:00 AM</td>
                            <td class="td-duration">15m</td>
                            <td class="td-temp">30-32°C</td>
                            <td class="td-temp">32-35°C</td>
                            <td class="td-temp">32-35°C</td>
                            <td class="td-status">
                                <span class="status-badge completed">Hoàn thành</span>
                            </td>
                            <td class="td-alerts" colspan="3">
                                <span class="alert-text">-</span>
                            </td>
                        </tr>

                        <tr>
                            <td class="td-process">Xả đáy</td>
                            <td class="td-standard">10m</td>
                            <td class="td-start">8:42:00 AM</td>
                            <td class="td-end">8:55:00 AM</td>
                            <td class="td-duration text-cyan">13m</td>
                            <td class="td-temp">30-32°C</td>
                            <td class="td-temp">32-35°C</td>
                            <td class="td-temp">32-36°C</td>
                            <td class="td-status">
                                <span class="status-badge completed">Hoàn thành</span>
                            </td>
                            <td class="td-alerts" colspan="3">
                                <span class="alert-text">-</span>
                            </td>
                        </tr>

                        <tr>
                            <td class="td-process">Hút lên</td>
                            <td class="td-standard">12m</td>
                            <td class="td-start">8:55:00 AM</td>
                            <td class="td-end">9:07:00 AM</td>
                            <td class="td-duration text-cyan">12m</td>
                            <td class="td-temp">30-32°C</td>
                            <td class="td-temp">32-35°C</td>
                            <td class="td-temp">32-36°C</td>
                            <td class="td-status">
                                <span class="status-badge completed">Hoàn thành</span>
                            </td>
                            <td class="td-alerts" colspan="3">
                                <span class="alert-text">-</span>
                            </td>
                        </tr>

                        <tr>
                            <td class="td-process">Rung</td>
                            <td class="td-standard">3m</td>
                            <td class="td-start">9:07:00 AM</td>
                            <td class="td-end">9:10:00 AM</td>
                            <td class="td-duration text-cyan">3m</td>
                            <td class="td-temp">28-32°C</td>
                            <td class="td-temp">32-35°C</td>
                            <td class="td-temp">32-36°C</td>
                            <td class="td-status">
                                <span class="status-badge completed">Hoàn thành</span>
                            </td>
                            <td class="td-alerts" colspan="3">
                                <span class="alert-text">-</span>
                            </td>
                        </tr>

                        <tr class="row-active">
                            <td class="td-process text-cyan">Trộn 2</td>
                            <td class="td-standard">20m</td>
                            <td class="td-start">9:10:00 AM</td>
                            <td class="td-end">-</td>
                            <td class="td-duration text-cyan">-</td>
                            <td class="td-temp">29-32°C</td>
                            <td class="td-temp">32-35°C</td>
                            <td class="td-temp">32-35°C</td>
                            <td class="td-status">
                                <span class="status-badge in-progress">Đang thực hiện</span>
                            </td>
                            <td class="td-alerts" colspan="3">
                                <span class="alert-text warning">Còn 7 phút</span>
                            </td>
                        </tr>

                        <tr>
                            <td class="td-process">Xả hàng</td>
                            <td class="td-standard">25m</td>
                            <td class="td-start">-</td>
                            <td class="td-end">-</td>
                            <td class="td-duration">-</td>
                            <td class="td-temp">29-32°C</td>
                            <td class="td-temp">32-35°C</td>
                            <td class="td-temp">32-35°C</td>
                            <td class="td-status">
                                <span class="status-badge pending">Chưa thực hiện</span>
                            </td>
                            <td class="td-alerts" colspan="3">
                                <span class="alert-text">-</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Total Process In Day -->
            <div class="batch-stats-section">
                <div class="batch-header-title">
                    <span class="title-accent"></span>
                    <h3>Tổng số mẻ sản xuất trong ngày</h3>
                </div>

                <table class="batch-table">
                    <thead>
                        <tr>
                            <th class="th-process">Số mẻ</th>
                            <th class="th-temp">Khối lượng</th>
                            <th class="th-temp">Thời gian sản xuất</th>
                            <th class="th-status">Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="td-process">Mẻ 1</td>
                            <td class="td-standard">500kg</td>
                            <td class="td-start">8:00 - 9:30</td>
                            <td class="td-status">
                                <span class="status-badge completed">Hoàn thành</span>
                            </td>
                        </tr>
                        <tr class="row-active">
                            <td class="td-process text-cyan">Mẻ 2</td>
                            <td class="td-standard">500kg</td>
                            <td class="td-start">9:35 - 11:05</td>
                            <td class="td-status">
                                <span class="status-badge in-progress">Đang thực hiện</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-process">Mẻ 3</td>
                            <td class="td-standard">500kg</td>
                            <td class="td-start">-</td>
                            <td class="td-status">
                                <span class="status-badge pending">Chưa thực hiện</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-process">Mẻ 4</td>
                            <td class="td-standard">500kg</td>
                            <td class="td-start">-</td>
                            <td class="td-status">
                                <span class="status-badge completed">Chưa thực hiện</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <!-- TWO PANEL SECTION: Product Info & BOM -->
                <div class="two-panel-container">
                    <!-- LEFT PANEL: PRODUCT INFORMATION -->
                    <div class="product-panel">
                        <div class="panel-header">
                            <span class="header-accent"></span>
                            <h3>Thông tin sản phẩm</h3>
                        </div>

                        <div class="product-info-content">
                            <div class="info-row">
                                <span class="info-label">Batch ID:</span>
                                <span class="info-value cyan" id="productBatchID">A2B260504TX01</span>
                            </div>
                            <div class="divider"></div>

                            <div class="info-row">
                                <span class="info-label">Khối lượng:</span>
                                <span class="info-value white" id="productMass">2000 kg</span>
                            </div>
                            <div class="divider"></div>

                            <div class="info-row">
                                <span class="info-label">Số mẻ:</span>
                                <span class="info-value white" id="productFormula">4 mẻ</span>
                            </div>
                            <div class="divider"></div>

                            <div class="info-row">
                                <span class="info-label">Quy cách bao gói:</span>
                                <span class="info-value white" id="productFormula">25 kg/bao</span>
                            </div>
                            <div class="divider"></div>

                            <div class="info-row">
                                <span class="info-label">Thời gian sản xuất:</span>
                                <span class="info-value white" id="productFormula">8:00 - 17:00</span>
                            </div>
                            <div class="divider"></div>

                            <div class="info-row">
                                <span class="info-label">Người vận hành:</span>
                                <span class="info-value cyan" id="productOperator">Trần Quang Thảo</span>
                            </div>
                            <div class="divider"></div>

                            <div class="info-row">
                                <span class="info-label">Tỉ lệ hao hụt:</span>
                                <span class="info-value red" id="productLossRate">8.5kg/mẻ</span>
                            </div>
                        </div>
                    </div>

                    <!-- RIGHT PANEL: PRODUCTION BOM -->
                    <div class="bom-panel">
                        <div class="panel-header">
                            <span class="header-accent"></span>
                            <h3>BOM sản xuất</h3>
                        </div>

                        <table class="bom-table">
                            <thead>
                                <tr>
                                    <th class="th-code">Mã hàng</th>
                                    <th class="th-name">Tên NTL</th>
                                    <th class="th-ratio">Tỉ lệ</th>
                                    <th class="th-unit">ĐVT</th>
                                    <th class="th-lot">LOT NTL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="td-code">AF-01</td>
                                    <td class="td-name">153</td>
                                    <td class="td-ratio">600</td>
                                    <td class="td-unit">kg</td>
                                    <td class="td-lot">20251222TRF</td>
                                </tr>
                                <tr>
                                    <td class="td-code">AF-24</td>
                                    <td class="td-name">140</td>
                                    <td class="td-ratio">560</td>
                                    <td class="td-unit">kg</td>
                                    <td class="td-lot">20260306TA</td>
                                </tr>
                                <tr>
                                    <td class="td-code">AF-30</td>
                                    <td class="td-name">65</td>
                                    <td class="td-ratio">260</td>
                                    <td class="td-unit">kg</td>
                                    <td class="td-lot">8820100105</td>
                                </tr>
                                <tr>
                                    <td class="td-code">AF-39</td>
                                    <td class="td-name">13</td>
                                    <td class="td-ratio">110</td>
                                    <td class="td-unit">kg</td>
                                    <td class="td-lot">1235101011</td>
                                </tr>
                                <tr>
                                    <td class="td-code">CITRIC ACID</td>
                                    <td class="td-name">10</td>
                                    <td class="td-ratio">40</td>
                                    <td class="td-unit">kg</td>
                                    <td class="td-lot">BP00012-2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @*<div>
        <div class="col-md-8">
            <div class="dashboard-box main-chart-box">
                <div class="box-header">
                    <span class="box-title">THÔNG SỐ QUAN TRỌNG</span>
                </div>

                <div class="gauge-container">
                    <div id="container-speed" class="gauge-item"></div>
                    <div id="container-temp" class="gauge-item"></div>
                    <div id="container-pressure" class="gauge-item"></div>
                </div>

                <div class="main-line-chart">
                    <div id="container_line" style="height: 350px;"></div>
                </div>

                <div class="chart-footer">
                    <button class="btn-scada btn-excel"><i class="fas fa-file-excel"></i> Export Excel</button>
                    <button class="btn-scada btn-csv"><i class="fas fa-file-csv"></i> Export CSV</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="dashboard-box side-box">
                <div class="box-header">
                    <span class="box-title">ALARM / CẢNH BÁO</span>
                    <a href="~/Home/Alarm" class="view-all">Xem tất cả →</a>
                </div>
                <div class="list-container" id="alarm-list">
                    <div class="list-item">
                        <i class="fas fa-exclamation-triangle text-warning"></i>
                        <span class="item-time">10:46:21</span>
                        <span class="item-text">Máy nhiệt độ cao</span>
                        <span class="badge badge-warning-outline">WARNING</span>
                    </div>
                    <div class="list-item">
                        <i class="fas fa-exclamation-triangle text-warning"></i>
                        <span class="item-time">10:46:21</span>
                        <span class="item-text">Máy nhiệt độ cao</span>
                        <span class="badge badge-warning-outline">WARNING</span>
                    </div>
                </div>
            </div>

            <div class="dashboard-box side-box mt-3">
                <div class="box-header">
                    <span class="box-title">EVENT / SỰ KIỆN GẦN NHẤT</span>
                    <a href="~/Home/Event" class="view-all">Xem tất cả →</a>
                </div>
                <div class="list-container" id="event-list">
                    <div class="list-item">
                        <div class="status-dot-green"></div>
                        <span class="item-time">10:46:33</span>
                        <span class="item-text">Máy ở công đoạn 1</span>
                        <span class="badge badge-success-outline">RUN</span>
                    </div>
                    <div class="list-item">
                        <div class="status-dot-green"></div>
                        <span class="item-time">10:46:33</span>
                        <span class="item-text">Máy ở công đoạn 2</span>
                        <span class="badge badge-success-outline">RUN</span>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</body>
<atscada-task at-interval="1000"></atscada-task>

<script type="module" src="~/JavaScript/Core/Component/Task/atscada-task-element.js"></script>
<script src="~/JavaScript/RealTime/OverviewRealtime.js?v=now()"></script>
